<div id="shopify-section-popups" class="shopify-section">
    <div data-section-id="popups" data-section-type="popups">
        <aside id="bis-modal" class="modal modal--exit-popup" aria-hidden="true">
            <div class="modal__dialog" role="dialog">
                <div class="exit-popup">
                    <h3 class="exit-popup__title heading">Get notified when this product is back in stock.</h3>
                    <p class="exit-popup__subheading heading">We will send you an e-mail as soon as it's back in our warehouse!</p>
                    <form id="bis-popup" class="form exit-popup__form" onsubmit="subscribeToBIS(event)">
                        <div class="form__input-wrapper form__input-wrapper--labelled">
                            <input id="bisInput" type="email" class="form__field form__field--large form__field--text" name="contact[email]" autofocus="" required="required" />
                            <label for="bisInput" class="form__floating-label">Your email</label>
                        </div>
                        <button class="button button--primary button--extra-large button--full" type="submit">Notify Me</button>
                    </form>
                </div>
            </div>
        </aside>
    </div>
  </div>